.label {
	@apply rounded-md inline-flex items-center px-2 h-6 text-overline gap-2;
}

.label--small {
	@apply h-5;
}

.label--outlined-primary {
	@apply border border-black/40 text-black/60;
}

.label--primary-light {
	@apply bg-black/[5%] text-black;
}

.label--primary {
	@apply bg-black text-white;
}
.bullets {
	@apply flex flex-col items-start gap-2 mb-8;
}
.bullet {
	@apply flex flex-row items-start gap-4;
}
.bullet__number {
	@apply bg-black text-white font-bold text-base text-center flex flex-col items-center justify-center w-8 h-8 rounded-full flex-shrink-0;
}
.bullet__content {
	@apply pt-1 text-base font-semibold text-black;
}

.label-count {
	@apply bg-black text-white inline-flex items-center justify-center rounded-full  shrink-0 h-8 w-auto p-1 font-bold;
}

.dark {
	.label-count {
		@apply bg-white text-black;
	}
}

.separator {
    width: 100%;         /* Full width of the container */
    height: 1px;         /* Thickness of the separator */
    background-color: #acacac;  /* Light gray color */
    margin: 20px 0;      /* Vertical spacing */
}